html{
    height: 100%
}

body{
    height: 100%;
}

#ui-view.ng-scope: {
    min-height: 100%;
}

#page-content-wrapper.ng-scope: {
    height: 100%;
}

.container-fluid{
    height: 100%;
}

img {
    height: 250px;
    width: 250px;
    align: middle;
    margin: 20px;
}

.img-circle {
    border-color: #34B67A;
}

.active {
    background-color: #E0F7FA;
    height: 40px;
    width: 250px;
}
