html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin-bottom: 60px;
}

#ui-view.ng-scope: {
    min-height: 100%;
}

#page-content-wrapper.ng-scope: {
    height: 100%;
}

.container-fluid{
    height: 100%;
}

img {
    height: 250px;
    width: 250px;
    align: middle;
    margin: 20px;
}

.img-circle {
    border-color: #34B67A;
}

.active {
    background-color: #EEE;
    height: 40px;
    width: 250px;
}

.source-button {
    position: absolute;
    bottom: 32px;
    right: 32px;
}

hr {
  margin-top: 48px;
}

footer {
  width: 100%;
  text-align: center;
}
